body {
  font-family: Verdana,Geneva,Arial,Helvetic,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
  background: #FFF;
}

A:link    { color:#0000D0; text-decoration:none }
A:visited { color:#0000D0; text-decoration:none }
A:active  { color:#0000D0; text-decoration:none }
A:hover   { color:#0080FF; text-decoration:none }

div.breadcrumbs {
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.mainheader {
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 2px;
}

div.coursename {
  font-weight: bold;
  font-size: 14px;
}

div.coursedesc {
  font-size: 14px;
  font-style: italic;
}

div.comments {
  border: 1px solid gray;
  font-style: italic;
  background-color: #FFC;
  margin: 5px;
  padding: 5px;
  display: inline-block
}

div.responserate {
  margin-top: 12px;
  margin-bottom: 2px;
}

div.evalheader {
  font-weight: bold;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 2px;
}

table.mc, table.txt {
  border-width: 1px;
  border-spacing: 0px;
  border-style: inset;
  border-color: gray;
  border-collapse: collapse;
  font-family: Verdana,Geneva,Arial,Helvetic,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 18px;  
}

table.mcbold {
  border-width: 2px;
  border-color: black;
}

table.mc td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-spacing: 0px;
  border-style: inset;
  border-color: gray;
  border-collapse: collapse;
}

tr.quest {
  font-size: 16px;
  background-color: #BDF;
}

tr.quest td {
  text-align: left;
}

tr.resp {
  background-color: #CCC;
}

ul.resp li {
  font-size: 14px;
  margin-bottom: 5px;
}

span.tt {
  font-family: "Courier New",Courier,"Lucida Console",monospaced;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

span.footnote {
  font-size: 12px;
}

div.github {
  border: 1px solid gray;
  /* font-weight: bold; */
  font-size: 12px;
  background-color: #DFD;
  margin: 5px;
  margin-top: 20px;
  padding: 5px;
  display: inline-block
}


/* hosting page */

table.main {
  border-width: 1px;
  border-spacing: 0px;
  border-style: inset;
  border-color: gray;
  border-collapse: collapse;
  font-family: Verdana,Geneva,Arial,Helvetic,sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 18px;  
}

table.main td {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-spacing: 0px;
  border-style: inset;
  border-color: gray;
  border-collapse: collapse;
}

table.main td.c {
  text-align: center;
}

table.main td.l {
  text-align: left;
}

tr.mainhdr {
  font-size: 16px;
  background-color: #9CF;
}

/* random page */

tr.randresp {
  color: #AAA;
}

table.mc td.chosen {
  color: #FFF;
  background-color: #777;
}

div.randintro {
  margin-top: 10px;
  margin-bottom: 5px;
}

div.random {
  margin-top: 20px;
  margin-bottom: 20px;
}

.getrand {
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-width: 2px;
  border-spacing: 10px;
  border-style: inset;
  border-color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.getrandon {
  background-color: #DFD;
  color: #000;
}

.getrandoff {
  background-color: #FDD;
  color: #FFF;
}

.showhide {
  font-size: 14px;
  font-weight: normal;
}