<div class="mainheader">Teaching Evaluations:</div>
<div class="responserate">Number of Respondents: {resp_rate}</div>
<div class="evalheader">Characteristics of the Instructor:</div>
{mc_1}
{mc_2}
{mc_3}
{mc_4}
<div class="evalheader">Characteristics of the Course:</div>
{mc_5}
{mc_6}
{mc_7}
{mc_8}
{mc_9}
{mc_10}
{mc_11}
{mc_12}
{mc_13}
{mc_14}
{mc_15}
<div class="evalheader">Question-Specific Comments:</div>
{mcex_1}
{mcex_2}
{mcex_3}
{mcex_4}
{mcex_5}
{mcex_6}
{mcex_7}
{mcex_8}
{mcex_9}
{mcex_10}
{mcex_11}
{mcex_12}
{mcex_13}
{mcex_14}
{mcex_15}
<div class="evalheader">Comments:</div>
<div class="coursedesc">Note: This is a complete list of comments I received, listed alphabetically to avoid bias.</div>
{txt_1}
{txt_2}
{txt_3}
